<% layout('layouts/boilerplate.ejs') -%>

    <div class="logo">
        <h1>SHOW</h1>
    </div>

    <div class="onePost">
        <div class="title"><h3><%= post.title %></h3></div>
        <div class="description"><p><%= post.description %></p></div>
        <div class="links">
            <a class="viewLink" href="/posts/<%=post._id%>/edit">Edit</a>
            <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
        </div>
    </div>