<div class="navbar">
    <div class="tag" id="tag1">
        <a href="/posts">
            Home
        </a>
    </div>
    <div class="tag" id="tag2">
        <a href="/posts/create">
            Create
        </a>
    </div>
    <!-- <div class="tag" id="tag3">
        <a href="">
            Edit
        </a>
    </div>
    <div class="tag" id="tag4">
        <a href="">
            Delete
        </a>
    </div> -->
</div>